body{
    background: linear-gradient(55deg, rgb(35, 130, 118), rgb(89, 181, 72));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

.logo-sena{
    text-align: center;
    width: 100px;
}

h1{
    text-align: center;
    color: rgb(35, 130, 118);
    font-size: 40px;
}